/* wrapper */
._ {
    @apply relative;
    height: 400px;
    width: 100%;
    /* background: blue; */
}

/* big card */
.__ {
    @apply h-full bg-primary shadow-md !rounded-xl;
    background-image: url('https://images.tokopedia.net/img/cache/240/PYbRbC/2023/6/26/8ea4cf41-a3d9-432c-99b0-b63c7a578df4.png.webp?ect=4g');
    background-repeat: no-repeat;
    background-position: 5px -20px;
    background-size: 55%;
    top: 0;
    left: 0;
    width: 300px;
}

/* product carousel */
.___ {
    @apply absolute flex flex-row gap-4 items-center;
    top: 12px;
    left: 190px;
    width: 100%;
    height: 375px;
    overflow: hidden;
    /* background: grey; */
}

/* time widget */
.____ {
    @apply !px-2 !py-1 bg-secondary text-onSecondary sm:!px-1 sm:!py-0;
}